ion-toast {
    --background: #daf1ef;
    --color: #000;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --border-radius: 12px;
    --box-shadow: none;
    font-size: 1rem;
  }
  