<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <app-toast-msg></app-toast-msg>
  <ion-button *ngIf="!(notificationsEnabled$ | async)" (click)="enableAlerts()">
    Enable Alerts
  </ion-button>
  <ng-container *ngIf="userStocks$ | async as userStockList">
    <section *ngIf="userStockList.length" role="region" aria-label="holding-stocks">
      <div class="equity-card">
        <p class="equity-label">Total equity</p>
        <h1 *ngIf="totalEquity$ | async as totalEquity " class="equity-value">
          {{ totalEquity  | currency:'USD':'symbol':'1.2-2' }}
        </h1>
      </div>

      <!-- Holdings section -->
      <div class="holdings">
        <h2>Holdings</h2>
        <ion-list>
          <ion-item class="holding-heading">
            <ion-label>
              <div>Stock</div>
            </ion-label>
            <div class="price-section">
              <div class="price">Price</div>
              <div class="change">Change</div>
            </div>
          </ion-item>

          <!-- User stocks -->
          <ng-container *ngFor="let stock of userStockList; trackBy: trackById">
            <app-instrument [stock]="stock" [isUserStock]="true"></app-instrument>
          </ng-container>
        </ion-list>
      </div>
    </section>
  </ng-container>

  <!-- Trending stocks -->
  <section class="trending">
    <h2>Trending stocks</h2>
    <div class="stocks-carousel">
      <ng-container *ngFor="let stock of trendingStocks$ | async ; trackBy: trackById">
        <app-stock-card
          [stock]="stock"
          [size]="'small'" 
          (selected)="openBuyModal($event)">
        </app-stock-card>
      </ng-container>
    </div>
  </section>

  <!-- Buy modal -->
      <app-buy-model
        class="buy-modal"
        >
      </app-buy-model>

</ion-content>
